@font-face {
  font-family: "Liberation Sans";
  src: url('/fonts/LiberationSans-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Liberation Sans";
  src: url('/fonts/LiberationSans-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Liberation Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  //outline: 1px solid red;
}

body {

}

main {
  position: relative;
  max-height: 1080px;
  overflow: hidden;

  .thank-you {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      position: absolute;

      transition: left 2s ease 0s, bottom 2s ease 0s, right 2s ease 0s, opacity 1s ease;
    }

    .th-1 {
      z-index: 7;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }

    .th-2 {
      z-index: 8;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }

    .th-3 {
      z-index: 9;
      right: 50%;
      transform: translateX(50%);
      opacity: 0;
    }
  }

  .left-clouds {
    position: absolute;

    img {
      position: absolute;
      transition: top 2s ease 0s, left 2s ease 0s;
    }

    .clt-1 {
      z-index: 10;
    }

    .clt-2 {
      z-index: 9;
    }

    .clt-3 {
      z-index: 8;
    }
  }

  &.step-1 {
    //.left-clouds {
    //  display: none;
    //}
    .left-clouds {
      .clt-1 {
        left: -1246px;
        top: -810px;
      }

      .clt-2 {
        left: -1246px;
        top: -810px;
      }

      .clt-3 {
        left: -1246px;
        top: -810px;
      }
    }

  }

  &.step-2 {

    @media only screen and (max-width: 991px) {
      min-height: 1258px;
    }

    .step-1-content {
      .image-main {
        position: absolute;
        bottom: -1500px;
        right: -1500px;
        transition: bottom 2s ease 0s, right 2s ease 0s;
      }
    }

    .left-clouds {
      .clt-1 {
        left: -1047px;
        top: -216px;
      }

      .clt-2 {
        left: -1017px;
        top: -170px;
      }

      .clt-3 {
        left: -990px;
        top: -145px;
      }
    }
  }

  &.step-3 {

    @media only screen and (max-width: 991px) {
      min-height: 1398px;
    }

    .left-clouds {
      .clt-1 {
        left: -990px;
        top: -228px;
      }

      .clt-2 {
        left: -990px;
        top: -65px
      }

      .clt-3 {
        left: -929px;
        top: -203px;
      }
    }
  }

  &.step-4 {
    @media only screen and (max-width: 991px) {
      min-height: 1107px;
    }

    .left-clouds {
      .clt-1 {
        left: -989px;
        top: -368px;
      }

      .clt-2 {
        left: -996px;
        top: -254px;
      }

      .clt-3 {
        left: -989px;
        top: -75px;
      }
    }
  }

  &.step-5 {

    @media only screen and (max-width: 991px) {
      min-height: 1467px;
    }

    .left-clouds {
      .clt-1 {
        left: -1047px;
        top: -216px;
      }

      .clt-2 {
        left: -990px;
        top: -145px;
      }

      .clt-3 {
        left: -990px;
        top: -145px;
      }
    }
  }

  &.step-6 {
    @media only screen and (max-width: 991px) {
      min-height: 1467px;
    }

    .left-clouds {
      .clt-1 {
        left: -990px;
        top: -228px;
      }

      .clt-2 {
        left: -990px;
        top: -65px
      }

      .clt-3 {
        left: -929px;
        top: -203px;
      }
    }
  }

  &.step-7 {
    @media only screen and (max-width: 991px) {
      min-height: 1281px;
    }

    .left-clouds {
      .clt-1 {
        left: -989px;
        top: -368px;
      }

      .clt-2 {
        left: -996px;
        top: -254px;
      }

      .clt-3 {
        left: -989px;
        top: -75px;
      }
    }
  }

  &.step-8 {
    @media only screen and (max-width: 991px) {
      min-height: 1467px;
    }

    .left-clouds {
      .clt-1 {
        left: -1047px;
        top: -216px;
      }

      .clt-2 {
        left: -1017px;
        top: -170px;
      }

      .clt-3 {
        left: -990px;
        top: -145px;
      }
    }
  }

  &.step-9 {
    @media only screen and (max-width: 991px) {
      min-height: 1238px;
    }

    .left-clouds {
      .clt-1 {
        left: -990px;
        top: -228px;
      }

      .clt-2 {
        left: -990px;
        top: -65px
      }

      .clt-3 {
        left: -929px;
        top: -203px;
      }
    }
  }

  &.step-10 {
    @media only screen and (max-width: 991px) {
      min-height: 1103px;
    }

    .left-clouds {

      .clt-1 {
        left: -1246px;
        top: -810px;
      }

      .clt-2 {
        left: -1246px;
        top: -810px;
      }

      .clt-3 {
        left: -1246px;
        top: -810px;
      }
    }
  }

  &.step-11 {
    @media only screen and (max-width: 991px) {
      min-height: 971px;
    }

    .left-clouds {
      display: none;
    }
  }

  .right-clouds {
    position: absolute;
    right: 0;
    bottom: 0;


    img {
      position: absolute;
      transition: bottom 2s ease 0s, right 2s ease 0s;
    }

    .crb-1 {
      z-index: 10;
    }

    .crb-2 {
      z-index: 9;
    }

    .crb-3 {
      z-index: 8;
    }

    .crb-4 {
      z-index: 7;
    }

    .crb-5 {
      z-index: 6;
    }

    .crb-6 {
      z-index: 5;
    }

    .crb-7 {
      z-index: 4;
    }

    .crb-8 {
      z-index: 3;
    }
  }

  &.step-1 {
    .right-clouds {
      .crb-1 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-2 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-3 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-4 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-5 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-6 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-7 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-8 {
        right: -1246px;
        bottom: -810px;
      }

    }
  }

  &.step-2 {
    .right-clouds {
      .crb-1 {
        right: -535px;
        bottom: -120px;
      }

      .crb-2 {
        right: -508px;
        bottom: -64px;
      }

      .crb-3 {
        right: -478px;
        bottom: -18px;
      }

      .crb-4 {
        right: -451px;
        bottom: -7px;
      }

      .crb-5 {
        right: 115px;
        bottom: -564px;
      }

      .crb-6 {
        right: 160px;
        bottom: -517px;
      }

      .crb-7 {
        right: 212px;
        bottom: -517px;
      }

      .crb-8 {
        right: 254px;
        bottom: -458px;
      }

    }
  }

  &.step-3 {
    .right-clouds {

      .crb-1 {
        right: -455px;
        bottom: -130px;
      }

      .crb-2 {
        right: -508px;
        bottom: -24px;
      }

      .crb-3 {
        right: -408px;
        bottom: -18px;
      }

      .crb-4 {
        right: -371px;
        bottom: -17px;
      }

      .crb-5 {
        right: 135px;
        bottom: -544px;
      }

      .crb-6 {
        right: 200px;
        bottom: -497px;
      }

      .crb-7 {
        right: 252px;
        bottom: -473px;
      }

      .crb-8 {
        right: 294px;
        bottom: -438px;
      }

    }
  }

  &.step-4 {
    .right-clouds {

      .crb-1 {
        right: -398px;
        bottom: -240px;
      }

      .crb-2 {
        right: -612px;
        bottom: -28px;
      }

      .crb-3 {
        right: -582px;
        bottom: -18px;
      }

      .crb-4 {
        right: -555px;
        bottom: 43px;
      }

      .crb-5 {
        right: 252px;
        bottom: -562px;
      }

      .crb-6 {
        right: 244px;
        bottom: -483px;
      }

      .crb-7 {
        right: 456px;
        bottom: -526px;
      }

      .crb-8 {
        right: 498px;
        bottom: -491px;
      }
    }
  }

  &.step-5 {
    .right-clouds {

      .crb-1 {
        right: -535px;
        bottom: -120px;
      }

      .crb-2 {
        right: -508px;
        bottom: -64px;
      }

      .crb-3 {
        right: -478px;
        bottom: -18px;
      }

      .crb-4 {
        right: -451px;
        bottom: -7px;
      }

      .crb-5 {
        right: 115px;
        bottom: -564px;
      }

      .crb-6 {
        right: 160px;
        bottom: -517px;
      }

      .crb-7 {
        right: 212px;
        bottom: -493px;
      }

      .crb-8 {
        right: 254px;
        bottom: -458px;
      }
    }
  }

  &.step-6 {
    .right-clouds {
      .crb-1 {
        right: -455px;
        bottom: -130px;
      }

      .crb-2 {
        right: -508px;
        bottom: -24px;
      }

      .crb-3 {
        right: -408px;
        bottom: -18px;
      }

      .crb-4 {
        right: -371px;
        bottom: -17px;
      }

      .crb-5 {
        right: 135px;
        bottom: -544px;
      }

      .crb-6 {
        right: 200px;
        bottom: -497px;
      }

      .crb-7 {
        right: 252px;
        bottom: -473px;
      }

      .crb-8 {
        right: 294px;
        bottom: -438px;
      }
    }
  }

  &.step-7 {
    .right-clouds {

      .crb-1 {
        right: -398px;
        bottom: -240px;
      }

      .crb-2 {
        right: -612px;
        bottom: -28px;
      }

      .crb-3 {
        right: -582px;
        bottom: -18px;
      }

      .crb-4 {
        right: -555px;
        bottom: 43px;
      }

      .crb-5 {
        right: 252px;
        bottom: -562px;
      }

      .crb-6 {
        right: 244px;
        bottom: -483px;
      }

      .crb-7 {
        right: 456px;
        bottom: -526px;
      }

      .crb-8 {
        right: 498px;
        bottom: -491px;
      }
    }
  }

  &.step-8 {
    .right-clouds {

      .crb-1 {
        right: -535px;
        bottom: -120px;
      }

      .crb-2 {
        right: -508px;
        bottom: -64px;
      }

      .crb-3 {
        right: -478px;
        bottom: -18px;
      }

      .crb-4 {
        right: -451px;
        bottom: -7px;
      }

      .crb-5 {
        right: 115px;
        bottom: -564px;
      }

      .crb-6 {
        right: 160px;
        bottom: -517px;
      }

      .crb-7 {
        right: 212px;
        bottom: -493px;
      }

      .crb-8 {
        right: 254px;
        bottom: -458px;
      }
    }
  }

  &.step-9 {
    .right-clouds {
      .crb-1 {
        right: -455px;
        bottom: -130px;
      }

      .crb-2 {
        right: -508px;
        bottom: -24px;
      }

      .crb-3 {
        right: -408px;
        bottom: -18px;
      }

      .crb-4 {
        right: -371px;
        bottom: -17px;
      }

      .crb-5 {
        right: 135px;
        bottom: -544px;
      }

      .crb-6 {
        right: 200px;
        bottom: -497px;
      }

      .crb-7 {
        right: 252px;
        bottom: -473px;
      }

      .crb-8 {
        right: 294px;
        bottom: -438px;
      }
    }
  }

  &.step-10 {
    .right-clouds {
      .crb-1 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-2 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-3 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-4 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-5 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-6 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-7 {
        right: -1246px;
        bottom: -810px;
      }

      .crb-8 {
        right: -1246px;
        bottom: -810px;
      }

    }
  }

  &.step-11 {
    .right-clouds {
      display: none;
    }

    .th-1 {
      z-index: 7;
      left: -449px;
      bottom: -405px;
      opacity: 1;
      transform: none;

      @media only screen and (max-width: 991px) {
        left: -468px;
        bottom: 11px;
        max-width: 755px;
      }
    }

    .th-2 {
      z-index: 8;
      left: 38px;
      bottom: -324px;
      opacity: 1;
      transform: none;

      @media only screen and (max-width: 991px) {
        display: none;
      }
    }

    .th-3 {
      z-index: 9;
      right: -349px;
      bottom: -139px;
      opacity: 1;
      transform: none;
      left: auto;

      @media only screen and (max-width: 991px) {
        right: -519px;
        bottom: 111px;
        max-width: 755px;
      }
    }
  }

}


.main_content {
  z-index: 10;
  max-width: 1260px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  max-height: 1080px;
  padding: 0 15px;

  @media only screen and (max-width: 991px) {
    height: auto;
    max-height: none;
  }


  .step-10-img {
    display: none;
    z-index: 10;
  }

  .step-10-img-anim {


    img {
      position: absolute;
      bottom: -700px;
      left: 50%;
      transform: translateX(-50%);
      transition: bottom 2s ease;
      opacity: 0;
    }

  }

  &.step-10 {
    .step-image {
      display: none;
    }

    .step-10-img {
      display: block;
      position: absolute;
      bottom: -63px;
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (max-width: 420px) {
        width: 100%;
        height: auto;
        bottom: 0;
        min-width: 1200px;
        min-height: 200px;
        left: -500px;
        transform: none;
      }

      img {
        @media only screen and (max-width: 420px) {
          width: 100%;
          height: auto;
        }
      }
    }

    .step-10-img-anim {
      //display: block;

      .anim-10-1 {
        z-index: 9;
        bottom: 0;
        opacity: 1;
      }

      .anim-10-2 {
        z-index: 8;
        bottom: 11px;
        opacity: 1;
      }

      .anim-10-3 {
        z-index: 7;
        bottom: 67px;
        opacity: 1;
      }
    }

    .slider-btn {
      .prev-button {
        border-radius: 100px;
        border: 1px solid #09024B;
        background: rgba(255, 255, 255, 0.90);

        &:hover {
          background: rgba(255, 255, 255, 0.70);
        }
      }

      .next-button {
        border-radius: 100px;
        border: 2px solid #FFF;
        background: #3102A9;

        &:hover {
          background: #260677;
        }
      }
    }
  }

  &.step-11 {

    .step-image {
      display: none;
    }
  }


}

.err {
  position: absolute;
  bottom: 0;
  color: red !important;
  margin: 0 !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  @media only screen and (max-width: 991px) {
    font-size: 20px !important;
  }

  &.step-2 {
    bottom: -50px;
  }


  &.step-3,
  &.step-4,
  &.step-5,
  &.step-6,
  &.step-7,
  &.step-8,
  &.step-9 {
    //position: relative;
    max-width: 600px;
    bottom: -50px;
  }

  &.step-3 {
    @media only screen and (max-width: 991px) {
      bottom: -74px;
    }

  }

  &.step-4 {
    @media only screen and (max-width: 991px) {
      bottom: -74px;
    }
  }

  &.step-5 {
    @media only screen and (max-width: 991px) {
      bottom: -74px;
    }
  }
  &.step-6 {
    @media only screen and (max-width: 991px) {
      bottom: -55px;
    }
  }
  &.step-7 {
    @media only screen and (max-width: 991px) {
      bottom: -74px;
    }
  }
  &.step-8 {
    @media only screen and (max-width: 991px) {
      bottom: -55px;
    }
  }
}

.logo {
  position: absolute;
  right: 0;
  top: 69px;

  @media only screen and (max-width: 991px) {
    top: 17px;
    right: 34px;
  }
}

.step-image {
  position: absolute;
  bottom: 192px;
  right: 0;
  transition: right 2s ease, bottom 2s ease;
  @media only screen and (max-width: 991px) {
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
  }
  @media only screen and (max-width: 650px) {
    left: 0;
    transform: none;
  }

  img {
    @media only screen and (max-width: 991px) {
      max-height: 332px;
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  &.step-1 {
    position: absolute;
    bottom: 192px;
    right: 0;


  }
}

main {
  .step-1 {

    .logo {
      display: none;
    }

    .step-image {
      bottom: -1000px;
      right: -1000px;
      transition: right 2s ease, bottom 2s ease;

      &.step-1 {
        display: block;
        bottom: 192px;
        right: 0;
        transition: right 2s ease, bottom 2s ease;

        @media only screen and (max-width: 1200px) {
          width: 50%;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }

        @media only screen and (max-width: 991px) {
          bottom: 0;
          width: 100%;
          left: 50%;
          transform: translate(-50%, 0);

          img {
            height: 397px;
          }
        }
      }
    }
  }

  &.step-2 {
    .step-image {
      &.step-1 {
        bottom: -1000px;
        right: -1000px;
        transition: right 3s ease, bottom 3s ease;
      }
    }

    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1258px;
      }
    }

  }

  .step-3-content {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s ease, opacity 0.5s ease;
  }

  &.step-3 {
    .step-3-content {
      opacity: 1;
      visibility: visible;
      transition: visibility 0.5s ease, opacity 0.5s ease;
    }

    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1398px;
      }
    }
  }

  &.step-4 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1107px;
      }
    }
  }

  &.step-5 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1467px;
      }
    }
  }

  &.step-6 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1467px;
      }
    }
  }

  &.step-7 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1281px;
      }
    }
  }

  &.step-8 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1467px;
      }
    }
  }

  &.step-9 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1238px;
      }
    }
  }

  &.step-10 {
    .slider {
      padding-top: 130px;

      @media only screen and (max-width: 991px) {
        min-height: 1103px;
      }
    }
  }

  &.step-11 {
    .slider {

      @media only screen and (max-width: 991px) {
        min-height: 971px;
      }
    }
  }

  &.step-3,
  &.step-4,
  &.step-5,
  &.step-6,
  &.step-7,
  &.step-8,
  &.step-9,
  &.step-10,
  &.step-11 {
    .step-image {
      &.step-1 {
        display: none;
      }
    }

  }
}

.slider {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  z-index: 999;

  @media only screen and (max-width: 991px) {
    position: static;
    transform: none;
    padding: 50px 0 25px;
  }

  &-btn {
    &.start {
      bottom: 25px;
      justify-content: flex-end;

      @media only screen and (max-width: 991px) {
        right: 15px;
      }
    }

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    max-width: 411px;
    justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      gap: 23px;
      max-width: 155px;
      right: 20px;
      bottom: 255px;
    }


    .btn {
      cursor: pointer;
      padding: 10px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      text-align: justify;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;


    }

    .next-button {
      display: inline-flex;
      border-radius: 100px;
      background: #FF7277;
      color: #FFFFFF;
      border: none;

      &:hover {
        background: #E35D62;
      }

      &.start {
        background: #2A0E6D;
        color: #FFF;


        &:hover {
          background: #3E1D8C;
        }

        &:active {
          background: #210B57;
        }
      }
    }

    .prev-button {
      border-radius: 100px;
      border: 1px solid #09024B;
      color: #09024B;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 23.8px;
      text-transform: uppercase;
      background: #FFFFFF;

      &:hover {
        background: rgba(11, 2, 92, 0.10);
      }
    }
  }
}

.stepper {
  width: 100%;
  position: relative;

  .step {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 689px;
  }

  .step {
    display: none;
    transition: opacity 0.5s ease;

    &.active {
      display: flex;
      transition: opacity 0.5s ease;
    }

    &.step-11 {
      min-height: 971px;
    }
  }


  h1 {
    color: #1D0370;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media only screen and (max-width: 991px) {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 55px;
    }
  }

  h2 {
    color: #060232;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  .step {
    & > div {
      width: 100%;
    }

    h2 {
      margin-bottom: 90px;
    }

    p {
      color: #060232;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 786px;

      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    .btn-field-group {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media only screen and (max-width: 991px) {
        position: relative;
      }
    }

    .btn-field {
      border-radius: 10px;
      //border: 1px solid var(--Stroke, rgba(7, 2, 53, 0.20));
      background: #FCFAFF;
      box-shadow: 0px 6px 20px 0px rgba(10, 45, 97, 0.05), 0px 6px 20px 0px rgba(10, 45, 97, 0.05) inset;
      padding: 20px 40px;
      max-width: 600px;
      width: 100%;
      cursor: pointer;
      transition: background 0.5s, color 0.5s;
      text-align: left;
      height: 60px;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 991px) {
        height: 80px !important;
        padding: 20px;
      }

      &:hover {
        border-radius: 10px;
        background: #2A0091;
        box-shadow: 0px 7px 15px 0px rgba(8, 0, 52, 0.20), 0px 5px 20px 0px rgba(10, 0, 34, 0.60) inset;
        text-align: center;

        p {
          color: #FFFFFF;
        }
      }

      &.active {
        text-align: center;
        background: #2A0091;

        p {
          color: #FFFFFF;
          text-align: center;
        }

        input {
          background: #2A0091;
          color: #fff;
          text-align: center;

          &::placeholder {
            color: #fff;
          }
        }
      }

      p {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.6px;
      }
    }


  }

  .step-1-content {
    display: flex;
    align-items: center;
    position: relative;


    .text {
      @media only screen and (max-width: 1200px) {
        width: 50%;
      }

      @media only screen and (max-width: 991px) {
        width: 100%;
        position: relative;
      }

      .err {
        bottom: -9px;
      }

    }

    .image-main {
      @media only screen and (max-width: 1200px) {
        width: 50%;
      }

    }

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }


    p {
      color: #2B2468;
      text-align: justify;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &:first-of-type {
        margin-bottom: 50px;
      }
    }

    .text-btn {
      margin-right: 51px;

      @media only screen and (max-width: 991px) {
        margin-right: 0;

      }


    }

    .input-email {
      margin-top: 120px;
      max-width: 429px;
      width: 100%;

      @media only screen and (max-width: 991px) {
        max-width: 100%;
        margin-top: 50px;
      }


      input {
        border: none;
        border-bottom: 1px solid #2B2468;
        width: 100%;
        outline: none;
        padding: 8px 17px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        color: #2B2468;

        &::placeholder {
          color: rgba(131, 130, 139, 0.5);
          text-align: justify;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    .input-email-btn {
      margin-top: 21px;
      display: flex;
      justify-content: flex-end;

      @media only screen and (max-width: 991px) {
        margin-bottom: 50px;
      }

      button {
        border-radius: 20px;
        border: 1px solid #360E94;
        display: inline-flex;
        padding: 6px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #fff;
        cursor: pointer;
        color: #360E94;
        text-align: justify;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &:hover {
          background: rgba(228, 228, 228, 0.29);
        }

        &:active {
          border-radius: 20px;
          border: 1px solid #360E94;
          background: rgba(228, 228, 228, 0.29);
          font-weight: 700;
        }
      }
    }

    .image-main {
      background: #FFFFFF;
      visibility: hidden;
      opacity: 0;

      @media only screen and (max-width: 991px) {
        max-height: 317px;
      }
    }

  }

  /* .step-2 {
     .step-2-content {
       visibility: hidden;
       opacity: 0;
       transition: visibility 2s ease, opacity 2s ease;
     }

     &.active {
       .step-2-content {
         visibility: visible;
         opacity: 1;
         transition: visibility 2s ease, opacity 2s ease;
       }
     }
   }
   .step-3 {
     .step-3-content {
       visibility: hidden;
       opacity: 0;
       transition: visibility 2s ease, opacity 2s ease;
     }

     &.active {
       .step-3-content {
         visibility: visible;
         opacity: 1;
         transition: visibility 2s ease, opacity 2s ease;
       }
     }
   }*/

  .step-2-content {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;


    h2 {
      margin-bottom: 90px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    p {
      color: #060232;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 786px;
    }

    .emoji {
      display: flex;
      max-width: 425px;
      justify-content: space-between;
      gap: 20px;
      margin-top: 60px;
      position: relative;
      min-height: 75px;

      @media only screen and (max-width: 991px) {
        margin-top: 50px;
        max-width: 100%;
        align-items: center;
        justify-content: center;
      }

      &-content {
        @media only screen and (max-width: 991px) {
          display: flex;
          flex-direction: column;
          gap: 25px;
        }
      }

      &-excellent {
        position: absolute;
        left: 0;
      }

      &-good {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &-bad {
        position: absolute;
        right: 0;
      }

      &-icon {
        cursor: pointer;
        height: 75px;

        @media only screen and (max-width: 991px) {
          position: relative;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;

        }

        img {
          height: 75px;
          width: 75px;
          transition: width 1s, height 1s;

          &:hover {
            height: 100px;
            width: 100px;
          }

          &.active {
            height: 95px;
            width: 95px;
          }
        }


      }
    }

    .image {
      text-align: right;
      margin-top: -93px;
    }
  }

  .step-3-content {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;

    h2 {
      height: 30px;
      visibility: hidden;
      margin-bottom: 90px;
    }

    p {
      color: #060232;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }

    .btn-field-group {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media only screen and (max-width: 991px) {
        gap: 30px;
        margin-top: 50px;
      }
    }

    .btn-field {
      transition: max-width 0.5s ease;
    }


    .image {
      text-align: right;
      margin-top: -311px;
    }
  }

  .step-4-content {
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;

    h2 {
      margin-bottom: 90px;

      @media only screen and (max-width: 991px) {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }
    }

    p {
      color: #060232;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 786px;
    }

    .btn-field-group {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media only screen and (max-width: 991px) {
        gap: 30px;
        margin-top: 50px;
        position: relative;
      }
    }

    .btn-field {
      //max-width: 150px;
      max-width: 600px;
      transition: max-width 0.5s ease;
    }
  }

  .step-5-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {
      height: 30px;
      visibility: hidden;
      margin-bottom: 90px;

      @media only screen and (max-width: 991px) {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }
    }

    .btn-field {
      max-width: 650px;
      transition: max-width 0.5s ease;

      &:nth-child(1) {
        max-width: 150px;
      }

      &:nth-child(2) {
        max-width: 150px;
      }
    }
  }

  .step-6-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .input-textarea {
      margin-top: 60px;
      position: relative;

      textarea {
        //width: 518px;
        //height: 378px;
        resize: none;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 60px 0px rgba(10, 45, 97, 0.10);
        color: #83828B;
        text-align: justify;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 30px 25px;
        border: none;
        outline: none;
        transition: height 0.5s ease, max-width 0.5s ease;
        height: 60px;
        max-width: 650px;

        @media only screen and (max-width: 991px) {
          width: 100%;
          height: 585px !important;
        }

        &::placeholder {
          border-bottom: 1px solid #2B2468;
          padding-bottom: 12px;
          color: rgba(131, 130, 139, 0.5);
        }
      }
    }
  }

  .step-7-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {
      height: 30px;
      visibility: hidden;
      margin-bottom: 90px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .btn-field {
      max-width: 190px;
      transition: max-width 0.5s ease, height 0.5s ease;

      //&:nth-child(1) {
      //  max-width: 518px;
      //  height: 378px;
      //}
    }
  }

  .step-8-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {
      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .input-textarea {
      margin-top: 60px;

      textarea {
        //width: 518px;
        //height: 378px;
        resize: none;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 60px 0px rgba(10, 45, 97, 0.10);
        color: #83828B;
        text-align: justify;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 30px 25px;
        border: none;
        transition: height 0.5s ease, max-width 0.5s ease;
        height: 60px;
        max-width: 190px;

        @media only screen and (max-width: 991px) {
          width: 100%;
          height: 585px !important;
        }

        &::placeholder {
          border-bottom: 1px solid #2B2468;
          padding-bottom: 12px;
          color: rgba(131, 130, 139, 0.5);
        }
      }
    }
  }

  .step-9-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .btn-field {
      max-width: 350px;
      transition: max-width 0.5s ease, height 0.5s ease;

      &:hover {
        input {
          background: #2A0091;
          color: #FFFFFF;

          &::placeholder {
            color: #FFFFFF;
          }
        }
      }
    }

    input {
      border: none;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30.6px;
      outline: none;
      transition: background 0.5s, color 0.5s;


      &::placeholder {
        color: #000;
      }
    }
  }

  .step-10-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {
      @media only screen and (max-width: 991px) {

        margin-bottom: 20px;
      }
    }

    p {
      max-width: 572px;
      font-size: 20px;
    }

    //.step-10-img {
    //  position: relative;
    //  height: 625px;
    //  margin-top: -124px;
    //}

    //img {
    //  position: absolute;
    //  left: 50%;
    //  transform: translateX(-50%);
    //}
  }

  .step-11-content {
    opacity: 0;
    transition: opacity 0.5s ease;

    h2 {
      color: #309;
      font-size: 128px;
      font-style: normal;
      font-weight: 700;
      line-height: 90px;
      margin-top: 211px;
      margin-bottom: 0;
      text-align: left;
      position: relative;
      z-index: 20;

      @media only screen and (max-width: 991px) {
        font-size: 86px;
        line-height: 90px;
        margin-top: 200px;
      }
    }

    img {
      display: flex;
      margin: -180px 0 0 auto;
      width: 100%;
      height: auto;
      max-width: 1000px;

      @media only screen and (max-width: 991px) {
        position: absolute;
        bottom: -80px;
        max-width: 400px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
      }

    }
  }
}

button {
  &.prev-button {
    display: none;
  }

  &.last-step {
    display: none;
  }
}