@font-face {
  font-family: "Liberation Sans";
  src: url("/fonts/LiberationSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Liberation Sans";
  src: url("/fonts/LiberationSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Liberation Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

main {
  position: relative;
  max-height: 1080px;
  overflow: hidden;
}
main .left-clouds {
  position: absolute;
}
main .left-clouds img {
  position: absolute;
  transition: top 2s ease 0s, left 2s ease 0s;
}
main .left-clouds .clt-1 {
  z-index: 10;
}
main .left-clouds .clt-2 {
  z-index: 9;
}
main .left-clouds .clt-3 {
  z-index: 8;
}
main.step-1 .left-clouds .clt-1 {
  left: -1246px;
  top: -810px;
}
main.step-1 .left-clouds .clt-2 {
  left: -1246px;
  top: -810px;
}
main.step-1 .left-clouds .clt-3 {
  left: -1246px;
  top: -810px;
}
main.step-2 .step-1-content .image-main {
  position: absolute;
  bottom: -1500px;
  right: -1500px;
  transition: bottom 2s ease 0s, right 2s ease 0s;
}
main.step-2 .left-clouds .clt-1 {
  left: -1047px;
  top: -216px;
}
main.step-2 .left-clouds .clt-2 {
  left: -1017px;
  top: -170px;
}
main.step-2 .left-clouds .clt-3 {
  left: -990px;
  top: -145px;
}
main.step-3 .left-clouds .clt-1 {
  left: -990px;
  top: -228px;
}
main.step-3 .left-clouds .clt-2 {
  left: -990px;
  top: -65px;
}
main.step-3 .left-clouds .clt-3 {
  left: -929px;
  top: -203px;
}
main.step-4 .left-clouds .clt-1 {
  left: -989px;
  top: -368px;
}
main.step-4 .left-clouds .clt-2 {
  left: -996px;
  top: -254px;
}
main.step-4 .left-clouds .clt-3 {
  left: -989px;
  top: -75px;
}
main.step-5 .left-clouds .clt-1 {
  left: -1047px;
  top: -216px;
}
main.step-5 .left-clouds .clt-2 {
  left: -990px;
  top: -145px;
}
main.step-5 .left-clouds .clt-3 {
  left: -990px;
  top: -145px;
}
main.step-6 .left-clouds .clt-1 {
  left: -990px;
  top: -228px;
}
main.step-6 .left-clouds .clt-2 {
  left: -990px;
  top: -65px;
}
main.step-6 .left-clouds .clt-3 {
  left: -929px;
  top: -203px;
}
main.step-7 .left-clouds .clt-1 {
  left: -989px;
  top: -368px;
}
main.step-7 .left-clouds .clt-2 {
  left: -996px;
  top: -254px;
}
main.step-7 .left-clouds .clt-3 {
  left: -989px;
  top: -75px;
}
main.step-8 .left-clouds .clt-1 {
  left: -1047px;
  top: -216px;
}
main.step-8 .left-clouds .clt-2 {
  left: -1017px;
  top: -170px;
}
main.step-8 .left-clouds .clt-3 {
  left: -990px;
  top: -145px;
}
main.step-9 .left-clouds .clt-1 {
  left: -990px;
  top: -228px;
}
main.step-9 .left-clouds .clt-2 {
  left: -990px;
  top: -65px;
}
main.step-9 .left-clouds .clt-3 {
  left: -929px;
  top: -203px;
}
main.step-10 .left-clouds {
  display: none;
}
main.step-11 .left-clouds {
  display: none;
}
main .right-clouds {
  position: absolute;
  right: 0;
  bottom: 0;
}
main .right-clouds img {
  position: absolute;
  transition: bottom 2s ease 0s, right 2s ease 0s;
}
main .right-clouds .crb-1 {
  z-index: 10;
}
main .right-clouds .crb-2 {
  z-index: 9;
}
main .right-clouds .crb-3 {
  z-index: 8;
}
main .right-clouds .crb-4 {
  z-index: 7;
}
main .right-clouds .crb-5 {
  z-index: 6;
}
main .right-clouds .crb-6 {
  z-index: 5;
}
main .right-clouds .crb-7 {
  z-index: 4;
}
main .right-clouds .crb-8 {
  z-index: 3;
}
main.step-1 .right-clouds .crb-1 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-2 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-3 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-4 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-5 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-6 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-7 {
  right: -1246px;
  bottom: -810px;
}
main.step-1 .right-clouds .crb-8 {
  right: -1246px;
  bottom: -810px;
}
main.step-2 .right-clouds .crb-1 {
  right: -535px;
  bottom: -120px;
}
main.step-2 .right-clouds .crb-2 {
  right: -508px;
  bottom: -64px;
}
main.step-2 .right-clouds .crb-3 {
  right: -478px;
  bottom: -18px;
}
main.step-2 .right-clouds .crb-4 {
  right: -451px;
  bottom: -7px;
}
main.step-2 .right-clouds .crb-5 {
  right: 115px;
  bottom: -564px;
}
main.step-2 .right-clouds .crb-6 {
  right: 160px;
  bottom: -517px;
}
main.step-2 .right-clouds .crb-7 {
  right: 212px;
  bottom: -517px;
}
main.step-2 .right-clouds .crb-8 {
  right: 254px;
  bottom: -458px;
}
main.step-3 .right-clouds .crb-1 {
  right: -455px;
  bottom: -130px;
}
main.step-3 .right-clouds .crb-2 {
  right: -508px;
  bottom: -24px;
}
main.step-3 .right-clouds .crb-3 {
  right: -408px;
  bottom: -18px;
}
main.step-3 .right-clouds .crb-4 {
  right: -371px;
  bottom: -17px;
}
main.step-3 .right-clouds .crb-5 {
  right: 135px;
  bottom: -544px;
}
main.step-3 .right-clouds .crb-6 {
  right: 200px;
  bottom: -497px;
}
main.step-3 .right-clouds .crb-7 {
  right: 252px;
  bottom: -473px;
}
main.step-3 .right-clouds .crb-8 {
  right: 294px;
  bottom: -438px;
}
main.step-4 .right-clouds .crb-1 {
  right: -398px;
  bottom: -240px;
}
main.step-4 .right-clouds .crb-2 {
  right: -612px;
  bottom: -28px;
}
main.step-4 .right-clouds .crb-3 {
  right: -582px;
  bottom: -18px;
}
main.step-4 .right-clouds .crb-4 {
  right: -555px;
  bottom: 43px;
}
main.step-4 .right-clouds .crb-5 {
  right: 252px;
  bottom: -562px;
}
main.step-4 .right-clouds .crb-6 {
  right: 244px;
  bottom: -483px;
}
main.step-4 .right-clouds .crb-7 {
  right: 456px;
  bottom: -526px;
}
main.step-4 .right-clouds .crb-8 {
  right: 498px;
  bottom: -491px;
}
main.step-5 .right-clouds .crb-1 {
  right: -535px;
  bottom: -120px;
}
main.step-5 .right-clouds .crb-2 {
  right: -508px;
  bottom: -64px;
}
main.step-5 .right-clouds .crb-3 {
  right: -478px;
  bottom: -18px;
}
main.step-5 .right-clouds .crb-4 {
  right: -451px;
  bottom: -7px;
}
main.step-5 .right-clouds .crb-5 {
  right: 115px;
  bottom: -564px;
}
main.step-5 .right-clouds .crb-6 {
  right: 160px;
  bottom: -517px;
}
main.step-5 .right-clouds .crb-7 {
  right: 212px;
  bottom: -493px;
}
main.step-5 .right-clouds .crb-8 {
  right: 254px;
  bottom: -458px;
}
main.step-6 .right-clouds .crb-1 {
  right: -455px;
  bottom: -130px;
}
main.step-6 .right-clouds .crb-2 {
  right: -508px;
  bottom: -24px;
}
main.step-6 .right-clouds .crb-3 {
  right: -408px;
  bottom: -18px;
}
main.step-6 .right-clouds .crb-4 {
  right: -371px;
  bottom: 17px;
}
main.step-6 .right-clouds .crb-5 {
  right: 135px;
  bottom: -544px;
}
main.step-6 .right-clouds .crb-6 {
  right: 200px;
  bottom: -4977px;
}
main.step-6 .right-clouds .crb-7 {
  right: 252px;
  bottom: -473px;
}
main.step-6 .right-clouds .crb-8 {
  right: 294px;
  bottom: -438px;
}
main.step-7 .right-clouds .crb-1 {
  right: -398px;
  bottom: -240px;
}
main.step-7 .right-clouds .crb-2 {
  right: -612px;
  bottom: -28px;
}
main.step-7 .right-clouds .crb-3 {
  right: -582px;
  bottom: -18px;
}
main.step-7 .right-clouds .crb-4 {
  right: -555px;
  bottom: 43px;
}
main.step-7 .right-clouds .crb-5 {
  right: 252px;
  bottom: -562px;
}
main.step-7 .right-clouds .crb-6 {
  right: 244px;
  bottom: -483px;
}
main.step-7 .right-clouds .crb-7 {
  right: 456px;
  bottom: -526px;
}
main.step-7 .right-clouds .crb-8 {
  right: 498px;
  bottom: -491px;
}
main.step-8 .right-clouds .crb-1 {
  right: -535px;
  bottom: -120px;
}
main.step-8 .right-clouds .crb-2 {
  right: -508px;
  bottom: -64px;
}
main.step-8 .right-clouds .crb-3 {
  right: -478px;
  bottom: -18px;
}
main.step-8 .right-clouds .crb-4 {
  right: -451px;
  bottom: -7px;
}
main.step-8 .right-clouds .crb-5 {
  right: 115px;
  bottom: -564px;
}
main.step-8 .right-clouds .crb-6 {
  right: 160px;
  bottom: -517px;
}
main.step-8 .right-clouds .crb-7 {
  right: 212px;
  bottom: -493px;
}
main.step-8 .right-clouds .crb-8 {
  right: 254px;
  bottom: -458px;
}
main.step-9 .right-clouds .crb-1 {
  right: -455px;
  bottom: -130px;
}
main.step-9 .right-clouds .crb-2 {
  right: -508px;
  bottom: -24px;
}
main.step-9 .right-clouds .crb-3 {
  right: -408px;
  bottom: -18px;
}
main.step-9 .right-clouds .crb-4 {
  right: -371px;
  bottom: 17px;
}
main.step-9 .right-clouds .crb-5 {
  right: 135px;
  bottom: -544px;
}
main.step-9 .right-clouds .crb-6 {
  right: 200px;
  bottom: -4977px;
}
main.step-9 .right-clouds .crb-7 {
  right: 252px;
  bottom: -473px;
}
main.step-9 .right-clouds .crb-8 {
  right: 294px;
  bottom: -438px;
}
main.step-10 .right-clouds {
  display: none;
}
main.step-11 .right-clouds {
  display: none;
}

.main_content {
  z-index: 10;
  max-width: 1260px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  max-height: 1080px;
}
.main_content .step-10-img {
  display: none;
}
.main_content.step-10 .step-image {
  display: none;
}
.main_content.step-10 .step-10-img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main_content.step-10 .slider-btn .prev-button {
  border-radius: 100px;
  border: 1px solid #09024B;
  background: rgba(255, 255, 255, 0.9);
}
.main_content.step-10 .slider-btn .prev-button:hover {
  background: rgba(255, 255, 255, 0.7);
}
.main_content.step-10 .slider-btn .next-button {
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #3102A9;
}
.main_content.step-10 .slider-btn .next-button:hover {
  background: #260677;
}
.main_content.step-11 .step-image {
  display: none;
}

.err {
  position: absolute;
  bottom: 0;
  color: red !important;
  margin: 0 !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.err.step-2 {
  bottom: -50px;
}
.err.step-3, .err.step-4, .err.step-5, .err.step-6, .err.step-7, .err.step-8, .err.step-9 {
  max-width: 600px;
  bottom: -50px;
}

.logo {
  position: absolute;
  right: 0;
  top: 69px;
}

.step-image {
  position: absolute;
  bottom: 192px;
  right: 0;
  transition: right 2s ease, bottom 2s ease;
}
.step-image.step-1 {
  position: absolute;
  bottom: 192px;
  right: 0;
}

main .step-1 .step-image {
  bottom: -1000px;
  right: -1000px;
  transition: right 2s ease, bottom 2s ease;
}
main .step-1 .step-image.step-1 {
  display: block;
  bottom: 192px;
  right: 0;
  transition: right 2s ease, bottom 2s ease;
}
main.step-2 .step-image.step-1 {
  bottom: -1000px;
  right: -1000px;
  transition: right 3s ease, bottom 3s ease;
}
main .step-3-content {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s ease, opacity 2s ease;
}
main.step-3 .step-3-content {
  opacity: 1;
  visibility: visible;
  transition: visibility 2s ease, opacity 2s ease;
}
main.step-3 .step-image.step-1, main.step-4 .step-image.step-1, main.step-5 .step-image.step-1, main.step-6 .step-image.step-1, main.step-7 .step-image.step-1, main.step-8 .step-image.step-1, main.step-9 .step-image.step-1, main.step-10 .step-image.step-1, main.step-11 .step-image.step-1 {
  display: none;
}

.slider {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.slider-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  max-width: 411px;
  justify-content: space-between;
  width: 100%;
}
.slider-btn.start {
  bottom: 25px;
  justify-content: flex-end;
}
.slider-btn .btn {
  cursor: pointer;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.slider-btn .next-button {
  display: inline-flex;
  border-radius: 100px;
  background: #FF7277;
  color: #FFFFFF;
  border: none;
}
.slider-btn .next-button:hover {
  background: #E35D62;
}
.slider-btn .next-button.start {
  background: #2A0E6D;
  color: #FFF;
}
.slider-btn .next-button.start:hover {
  background: #3E1D8C;
}
.slider-btn .next-button.start:active {
  background: #210B57;
}
.slider-btn .prev-button {
  border-radius: 100px;
  border: 1px solid #09024B;
  color: #09024B;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.8px;
  text-transform: uppercase;
  background: #FFFFFF;
}
.slider-btn .prev-button:hover {
  background: rgba(11, 2, 92, 0.1);
}

.stepper {
  width: 100%;
  position: relative;
  /* .step-2 {
     .step-2-content {
       visibility: hidden;
       opacity: 0;
       transition: visibility 2s ease, opacity 2s ease;
     }

     &.active {
       .step-2-content {
         visibility: visible;
         opacity: 1;
         transition: visibility 2s ease, opacity 2s ease;
       }
     }
   }
   .step-3 {
     .step-3-content {
       visibility: hidden;
       opacity: 0;
       transition: visibility 2s ease, opacity 2s ease;
     }

     &.active {
       .step-3-content {
         visibility: visible;
         opacity: 1;
         transition: visibility 2s ease, opacity 2s ease;
       }
     }
   }*/
}
.stepper .step {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 689px;
}
.stepper .step {
  display: none;
  transition: opacity 1s ease;
}
.stepper .step.active {
  display: flex;
  transition: opacity 1s ease;
}
.stepper h1 {
  color: #1D0370;
  text-align: center;
  font-family: "Times New Roman", sans-serif;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.stepper h2 {
  color: #060232;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.stepper .step > div {
  width: 100%;
}
.stepper .step h2 {
  margin-bottom: 90px;
}
.stepper .step p {
  color: #060232;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 786px;
}
.stepper .step .btn-field-group {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stepper .step .btn-field {
  border-radius: 10px;
  background: #FCFAFF;
  box-shadow: 0px 6px 20px 0px rgba(10, 45, 97, 0.05), 0px 6px 20px 0px rgba(10, 45, 97, 0.05) inset;
  padding: 20px 40px;
  max-width: 600px;
  width: 100%;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  text-align: left;
  display: block;
}
.stepper .step .btn-field:hover {
  border-radius: 10px;
  background: #2A0091;
  box-shadow: 0px 7px 15px 0px rgba(8, 0, 52, 0.2), 0px 5px 20px 0px rgba(10, 0, 34, 0.6) inset;
  text-align: center;
}
.stepper .step .btn-field:hover p {
  color: #FFFFFF;
}
.stepper .step .btn-field.active {
  text-align: center;
  background: #2A0091;
}
.stepper .step .btn-field.active p {
  color: #FFFFFF;
  text-align: center;
}
.stepper .step .btn-field.active input {
  background: #2A0091;
  color: #fff;
  text-align: center;
}
.stepper .step .btn-field.active input::placeholder {
  color: #fff;
}
.stepper .step .btn-field p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;
}
.stepper .step-1-content {
  display: flex;
  align-items: center;
  position: relative;
}
.stepper .step-1-content p {
  color: #2B2468;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.stepper .step-1-content p:first-of-type {
  margin-bottom: 50px;
}
.stepper .step-1-content .text-btn {
  margin-right: 51px;
}
.stepper .step-1-content .input-email {
  margin-top: 120px;
  max-width: 429px;
  width: 100%;
}
.stepper .step-1-content .input-email input {
  border: none;
  border-bottom: 1px solid #2B2468;
  width: 100%;
  outline: none;
  padding: 8px 17px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #2B2468;
}
.stepper .step-1-content .input-email input::placeholder {
  color: rgba(131, 130, 139, 0.5);
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.stepper .step-1-content .input-email-btn {
  margin-top: 21px;
  display: flex;
  justify-content: flex-end;
}
.stepper .step-1-content .input-email-btn button {
  border-radius: 20px;
  border: 1px solid #360E94;
  display: inline-flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;
  cursor: pointer;
  color: #360E94;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.stepper .step-1-content .input-email-btn button:hover {
  background: rgba(228, 228, 228, 0.29);
}
.stepper .step-1-content .input-email-btn button:active {
  border-radius: 20px;
  border: 1px solid #360E94;
  background: rgba(228, 228, 228, 0.29);
  font-weight: 700;
}
.stepper .step-1-content .image-main {
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
}
.stepper .step-2-content {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-2-content h2 {
  margin-bottom: 90px;
}
.stepper .step-2-content p {
  color: #060232;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 786px;
}
.stepper .step-2-content .emoji {
  display: flex;
  max-width: 425px;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
  position: relative;
  min-height: 75px;
}
.stepper .step-2-content .emoji-excellent {
  position: absolute;
  left: 0;
}
.stepper .step-2-content .emoji-good {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.stepper .step-2-content .emoji-bad {
  position: absolute;
  right: 0;
}
.stepper .step-2-content .emoji-icon {
  cursor: pointer;
}
.stepper .step-2-content .emoji-icon img {
  height: 75px;
  width: 75px;
  transition: width 1s, height 1s;
}
.stepper .step-2-content .emoji-icon img:hover {
  height: 100px;
  width: 100px;
}
.stepper .step-2-content .emoji-icon img.active {
  height: 95px;
  width: 95px;
}
.stepper .step-2-content .image {
  text-align: right;
  margin-top: -93px;
}
.stepper .step-3-content {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-3-content h2 {
  height: 30px;
  visibility: hidden;
  margin-bottom: 90px;
}
.stepper .step-3-content p {
  color: #060232;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.stepper .step-3-content .btn-field-group {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stepper .step-3-content .image {
  text-align: right;
  margin-top: -311px;
}
.stepper .step-4-content {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-4-content h2 {
  margin-bottom: 90px;
}
.stepper .step-4-content p {
  color: #060232;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 786px;
}
.stepper .step-4-content .btn-field-group {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stepper .step-4-content .btn-field {
  max-width: 150px;
}
.stepper .step-5-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-5-content h2 {
  height: 30px;
  visibility: hidden;
  margin-bottom: 90px;
}
.stepper .step-5-content .btn-field {
  max-width: 650px;
}
.stepper .step-6-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-6-content .input-textarea {
  margin-top: 60px;
}
.stepper .step-6-content .input-textarea textarea {
  width: 518px;
  height: 378px;
  resize: none;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(10, 45, 97, 0.1);
  color: #83828B;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 30px 25px;
  margin-left: 100px;
  border: none;
  outline: none;
}
.stepper .step-6-content .input-textarea textarea::placeholder {
  border-bottom: 1px solid #2B2468;
  padding-bottom: 12px;
  color: rgba(131, 130, 139, 0.5);
}
.stepper .step-7-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-7-content h2 {
  height: 30px;
  visibility: hidden;
  margin-bottom: 90px;
}
.stepper .step-7-content .btn-field {
  max-width: 190px;
}
.stepper .step-8-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-8-content .input-textarea {
  margin-top: 60px;
}
.stepper .step-8-content .input-textarea textarea {
  width: 518px;
  height: 378px;
  resize: none;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(10, 45, 97, 0.1);
  color: #83828B;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 30px 25px;
  margin-left: 100px;
  border: none;
}
.stepper .step-8-content .input-textarea textarea::placeholder {
  border-bottom: 1px solid #2B2468;
  padding-bottom: 12px;
  color: rgba(131, 130, 139, 0.5);
}
.stepper .step-9-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.stepper .step-9-content .btn-field:hover input {
  background: #2A0091;
  color: #FFFFFF;
}
.stepper .step-9-content .btn-field:hover input::placeholder {
  color: #FFFFFF;
}
.stepper .step-9-content input {
  border: none;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;
  outline: none;
  transition: background 0.5s, color 0.5s;
}
.stepper .step-9-content input::placeholder {
  color: #000;
}
.stepper .step-10-content p {
  max-width: 572px;
}
.stepper .step-11-content h2 {
  color: #309;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  margin-top: 211px;
  margin-bottom: 0;
  text-align: left;
}
.stepper .step-11-content img {
  display: flex;
  margin: -180px 0 0 auto;
}

button.prev-button {
  display: none;
}
button.last-step {
  display: none;
}

/*# sourceMappingURL=style.css.map */
